// import * as KioskPlugin from 'ambient-kiosk-mode';
// import * as SonosFallbackPlugin from 'ambient-sonos-fallback';

/** @type {import('./server/types/options.js').Config} */
export default {
	// plugins: [KioskPlugin, SonosFallbackPlugin],

	// A nice way to pass in the credentials
	// spotify: {
	// 	client_id: process.env.SPOTIFY_CLIENT_ID,
	// 	client_secret: process.env.SPOTIFY_CLIENT_SECRET
	// }
};
